body{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-color: #f7f7f7;
}
body main{
    flex-grow: 1;
    height: 100%;
}
nav.navbar{
    background-color: #009b88;
}
nav.navbar .navbar-nav{
    margin-left: auto;
}
nav.navbar a{
    color: white;
}
footer{
    border-top: 1px solid #dedede;
    background-color: #f1f1f1;
    padding: 12px;
    font-size: 13px;
}
.subscription-card{
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    padding: 28px 28px 28px;
    background: #fff;
    margin: 1.0em 0 1.8em;
}
.rsp-h3{
    display: inline-block;
    font-size: 1.75rem;
    font-weight: bold;
    color: #606060;
}
.subscription-wrap{
    color: #3e3e3e;
    width: 100%;
    padding: 1em 1em;
}
.subscription-wrap form .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}
.subscription-wrap form input[type=text],
.subscription-wrap form input[type=number] {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 10px;
}
.subscription-wrap form .form-group.focused .form-label {
    transform: translateY(-125%);
    font-size: 0.75em;
}
.subscription-wrap .form-group {
    margin-bottom: 1rem;
}
.subscription-wrap .form-group select {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 2px 7px;
    color: #333;
    border-radius: 2px;
}
.subscription-wrap form .form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.subscription-wrap form .message svg {
    margin-right: 0.8em;
}
.subscription-wrap form .form-input:focus {
    box-shadow: 0 2px 0 0 blue;
}
.subscription-wrap form .form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}
.subscription-wrap form .form-input.error {
    box-shadow: 0 2px 0 0 #cd2323;
}
.subscription-wrap form .form-group {
    position: relative;
}
.subscription-wrap form .before-message {
    font-size: 0.95em;
}
.subscription-wrap form .before-message .info-message {
    margin-left: 30px;
}
.subscription-wrap form .before-message .message {
    position: relative;
}
.subscription-wrap form .before-message .message > svg{
    position: absolute;
    top: 7px;
}
.subscription-wrap form .after-message {
    font-size: 0.80em;
    color: #999;
}
.subscription-wrap form .overload {
    background-color: #ffffff;
    opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}
@media only screen and (min-width: 780px){
    .subscription-wrap{
        width: 720px;
        padding: 2em 0;
    }
}